#split-page-wrapper {
  border: solid 1px;
  padding: 10px;
}

.no-split-area {
  cursor: pointer;
  background-color: #dadada;
}
.no-split-area:hover {
  background-color: #ff8c54;
}
.no-split-area-selected {
  background-color: #ff8c54;
}
::selection{
    background-color:#ff8c54;
}
